.inputAboutMe::placeholder {
    display: block; /* Makes it behave like a block element */
    top: 5px; /* Adjust the negative margin to match your padding */
    position: absolute;
  }

.inputAboutMe {
    width: 450px;
    height: 200px;
  }