.organizationProfileContainer{
    position: relative;
    display: flex;
    width: 60%; 
    padding: 10px;
    /* background: rgba(218, 245, 255, 0.479); */
    /* background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(209,228,230,1) 100%); */
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0 auto;
    border: var(--border);
}

.organizationProfileContainer.opportunityPopup{
    width: 80%;
}

.organizationProfileContainer.userProfile{
    width: 95%;
}


.organizationInfo.contracted{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 8;
    -webkit-line-clamp: 8;
    line-height: 1;
    overflow: hidden;
    transition: all 0.5s ease-out;
}

  .organizationInfo.expanded {
    padding-bottom: 2px;
    display: block;
    line-height: 1.1;
    max-height: none;
    background: none;
    transition: all 0.5s ease-out;
  }
  

.organizationInfo.contracted::before{
    transition: all 0.5s ease-out;
    content: "";
    position: absolute;
    height: 2em;
    width: 100%;
    bottom: 0;
    pointer-events: none;
    /* background: rgba(218, 245, 255, 0.479); */
}

.btnOrganizationLearnMore{
    font-size: 17px;
    padding: 7px;
    border-radius: 2px;
    width: 80%;
}

.btnOrganizationConnect{
    border-radius: 5px;
    padding: 7px;
    font-size: 17px;
    width: 80%;
    font-weight: bolder;
    border-width: 1.9px;
}

.organizationDescription{
    font-size: 14px;
   line-height: 1;
}

.logisticOption{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.logisticOption.hidden{
    display:none;
}

.logisticsDisplay{
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
}

.organizationPfp{
    border-style: solid;
    border-color: var(--secondary);
    width: 145px;
    height: 145px;
}