.organizationProfileContainer{
    position: relative;
    display: flex;
    width: 60%; 
    padding: 10px;
    background: var(--accent);
    background: linear-gradient(335deg, var(--neutral) 0%, rgba(255,255,255,1) 100%);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0 auto;
    border-style: solid;
    border-color: var(--secondary);
}

.organizationProfileContainer.opportunityPopup{
    width: 80%;
}

.btnOrganizationConnect{
    padding: 5px;
    background-color: var(--secondary);
    border-radius: 2px;
    width: 75%;
    margin: 0 auto; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: aliceblue;
}

.btnOrganizationLearnMore{
    padding: 5px;
    background-color: var(--primary);
    border-radius: 2px;
    width: 75%;
    margin: 0 auto; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: black;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.logisticOption{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.logisticOption.hidden{
    display:none;
}