.profileModalContent{
    max-height: 80vh;
    width: 550px;
    background: var(--primary);
    /* background: linear-gradient(180deg, var(--neutral) 0%, rgba(255,255,255,1) 60%); */
    color: black;
    display: flex;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 54vw;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.blurOverlay{
    top:0;
    left:0;
    width: 100%;
    backdrop-filter: blur(5px);
    position: absolute;
    z-index: 3;
    background-color: #f5f5f580;
}

.closeProfileModal{
    cursor: pointer;
    color: var(--secondary);
}

.closeProfileModal:hover{
    color: var(--highlight);
}

.profileModalContent{
    overflow-y: auto;
}

.profileModalContent::-webkit-scrollbar {
    width: 8px; /* Adjust the width as needed */
  }
  
  .profileModalContent::-webkit-scrollbar-track {
    background: transparent; /* Make the track transparent */
  }
  
  .profileModalContent::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 4px; /* Match the corner radius of your modal */
  }
  
  .profileModalContent::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Darker color on hover */
  }

.modal-right-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    right: 10px;
    top: 9px;
}

.reportProfileModal {
    cursor: pointer;
    color: var(--secondary);
    transition: color 0.2s ease;
}

.reportProfileModal:hover {
    color: rgb(255, 127, 127);
}

.reportDialogContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    /* max-width: 400px; */
    z-index: 6;
}

.reportDialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reportDialog h3 {
    margin: 0 0 15px 0;
    /* color: var(--secondary); */
}

.reportDialog textarea {
    width: 95%;
    height: 100px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    resize: vertical;
    margin: 0 auto;
}

.reportActions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
    align-items: left;
    width: 100%;
}

.reportActions button {
    padding: 8px 16px;
    border-radius: 4px;
}