.progressBar.red{
    background: rgb(223, 93, 93);
}

.progressBar.orange{
    background: rgb(255, 178, 35);
}

.progressBar.green{
    background: rgb(102, 203, 114);
}

.progressBar.progressBar.purple{
    background: #646cff;
}

.btnViewProfile{
    position: absolute;
    bottom: 30px;
    padding: 10px; 
    color: white;
    font-size: 20px;
    width: 60%; 
    font-weight: bolder;
    /* background: var(--secondary); */
    background: #007bff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}

.btnViewProfile:hover{
    background: var(--highlight);
}