.networkProfileCard{
    height: fit-content;
    width: 30vw;
    background-color: aliceblue;
    color: black;
    display: flex;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    flex-direction: column;
    background: rgb(179,205,255);
    background: linear-gradient(335deg, rgba(179,205,255,1) 0%, rgba(255,255,255,1) 60%);
}

.seeProfile{
    color: #4d73be;
    cursor: pointer;
}

.seeProfile:hover{
    color: rgb(120, 131, 255);
    text-decoration: underline;
}

.basicInfo{
    display: flex;
}

.cardPfp{
    background-color: #4d73be;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardName{
    font-weight: 700;
    font-size: larger;
}
.cardNameDescription{
    padding-left: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.cardDescription{
    font-size: small;
    font-weight: lighter;
}

.userInfo{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    font-size: smaller;
    padding-bottom: 10px;
}

.userCardBtnConnect{
    padding: 5px;
    background-color: #4d73be;
    border-radius: 5px;
    width: 75%;
    color: white;
    margin: 0 auto; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.userCardBtnConnect:hover{
    background-color: rgb(120, 131, 255);
}