.networkProfileCard{
    overflow: hidden;
    position: relative;
    width: 310px;
    height: 160px;
    background-color: aliceblue;
    color: black;
    display: flex;
    padding: 10px;
    border-radius: 12px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    flex-direction: column;
    background: var(--primary);
    z-index: 1;
    border-style: solid;
    border-color: var(--secondary);
}

.seeProfile{
    color: var(--secondary);
    cursor: pointer;
}

.seeProfile:hover{
    color: var(--highlight);
    text-decoration: underline;
}

.basicInfo{
    display: flex;
}

.pfpImage {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: none;
}

.cardName{
    font-weight: 700;
    font-size: larger;
}
.cardNameDescription{
    padding-left: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.cardDescription{
    font-size: small;
    font-weight: 200;
}

.userInfo{
    display: flex;
    flex-direction: column;
    padding-left: 12px;
    font-size: smaller;
    padding-bottom: 10px;
}

.userInfo span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 270px; 
    display: block;
}

.userInfo strong {
    font-weight: 500; 
}

.userCardBtnConnect{
    padding: 5px;
    background-color: var(--secondary);
    border-radius: 5px;
    width: 75%;
    color: var(--primary);
    margin: 0 auto; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.userCardBtnConnect:hover{
    background-color: rgb(120, 131, 255);
}