
:root {
  --primary: #F5F5F5;
  --secondary: #4580a2;
  --accent: #85ccd4;
  --neutral: #d1e4e6;
  --highlight: #787dea;
  --softtone: ;

  font-family: 'Inter', sans-serif;
  /* Helvetica */
  line-height: 1.5;
  font-weight: 400;
  background-color: #F5F5F5;

  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--secondary);
  text-decoration: inherit;
}
a:hover {
  color: var(--highlight);
}

body {
  margin: 0
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  padding: 5px;
  background-color: var(--secondary);
  border-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--primary);
}

button:hover {
  background-color: var(--highlight);
  color: #F5F5F5;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.ul{
  list-style: none;
}