
:root {
  --primary: #F3F3F3;
  --secondary: #4580a2;
  --accent: #85ccd4;
  --dark: #07202F;
  --neutral: #d1e4e6;
  --highlight: #7293ed;
  --secondaryHighlight: #D0D9F1;
  --dividerColor: #C0C0C0;
  --shadowColor: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  --btnColor: #1157e2c2;
  --border: 2px solid var(--dark);
  
  font-family: 'Inter', sans-serif;
  /* Helvetica */
  line-height: 1.5;
  font-weight: 400;
  background-color: white;

  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  --container-width-desktop: 500px;
  --container-width-mobile: 90%;
  --button-width-desktop: 220px;
  --button-width-mobile: 100%;
}

h3{
  line-height: 1;
}

form input{
  border-style: solid;
  border-width: 1.5px;
  border-color: var(--secondary);
  border-radius: 5px;
  color: var(--secondary);
  padding: 7px;
  font-size: 18px;
}



.btnFileUpload{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px dashed #ccc;
  cursor: pointer;
  background: var(--neutral);
  color: var(--secondary);
}

.btnFileUpload:hover{
  background-color: rgb(179,205,255);
  color: var(--highlight);
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.action-button {
  background: var(--secondary);
  opacity: .86;
  border: none;
  border-radius: 50%;
  padding: 5px;
  margin-left: 5px;
  cursor: pointer;
}

input[type="checkbox"] {
  background-color: transparent;
  border-style: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: none;
}

input[type="checkbox"]::before {
  content: "";
  display: inline-block;
  width: 23px;
  height: 23px;
  border: 2px solid var(--secondary); 
  border-radius: 6px;
  vertical-align: middle;
  transform: translateY(-4px);
  margin-right: 7px;
  cursor: pointer;
  transition: box-shadow .5s ease;
  /* box-shadow: var(--shadowColor); */
}

input[type="checkbox"]:checked::before {
  background-color: #9598f5eb; /* Or your desired color */
  content: "\2713"; /* Unicode checkmark character */
  color: white;
  text-align: center;
  font-size: 16px; /* Adjust size as needed */
}

input[type="checkbox"]::before:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(46, 178, 255, 0.19);
}


form select{
  border-style: solid;
  border-width: 1.5px;
  border-color: var(--secondary);
  border-radius: 5px;
  color: var(--secondary);
  padding: 7px;
  font-size: 18px;
}

textarea{
  color: var(--secondary);
  padding: 5px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  border-radius: 10px;
  border-style: solid;
  border-color: var(--secondary);
  font-family: "Inter";
  border-width: 1.5px;
  font-size: 18px;
  transition: box-shadow .5s ease;
}

textarea:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(46, 178, 255, 0.19);
}

hr {
  border-top: solid;
  border-width: 1px;
  border-color: var(--dividerColor);
}

a {
  font-weight: 500;
  color: var(--secondary);
  text-decoration: inherit;
  cursor: pointer;
}
a:hover {
  color: var(--highlight);
}

body {
  margin: 0
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  padding: 5px;
  background-color: var(--secondary);
  border-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--primary);
  transition: background-color 0.3s ease;
}

.btnClose{
  position: absolute;
  right: 10px;
  top: 10px;
  color: var(--secondary);
  cursor: pointer;
}

.btnClose:hover{
  color: var(--highlight);
}

.btnConnect{
  /* background-color: #5da0ed; */
  background-color: var(--btnColor);
  border-radius: 5px;
  font-weight: 550;
  font-size: 18px;
}

.pfpImage{
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btnCircle{
  overflow: hidden;
  border-radius: 50%;
  transition: box-shadow .3s;
}

.btnCircle:hover{
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.btnUnfilled{
  background-color: var(--primary);
  border-style: solid;
  border-color: var(--secondary);
  color: var(--secondary);
}

.btnText{
  background-color: transparent;
  color: var(--accent);
  text-decoration: underline;
  transition: color 0.3s ease;
  cursor: pointer;
  padding: 0;
  display: inline-block;
}

.diff-color{
  color: var(--secondary);
}

.btnText:hover{
  background-color: transparent;
  color: var(--highlight);
}

/* .btnFilled{

} */

button:hover {
  background-color: var(--highlight);
  color: #F5F5F5;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.ul{
  list-style: none;
}