.bar.filled{
    background-color: var(--accent);
}

.bar.unfilled{
    background-color: var(--neutral);
    opacity: .6;
}

.btnNavigate{
    border-radius: 20px;
    width: 120px;
    font-size: 18px;
    justify-content: space-between;
    padding: 5px 10px;
}

.btnNavigate.hidden{
    visibility: hidden;
}