.bar.filled{
    background-color: var(--accent);
}

.bar.unfilled{
    background-color: var(--neutral);
    opacity: .6;
}

.btnNavigate{
    border-radius: 20px;
    width: 100px;
    justify-content: space-around;
}

.btnNavigate.hidden{
    visibility: hidden;
}