form label{
    font-weight: 250;
    font-size: 20px;
    color: black;
}

.applicantExpectations{
    width: 450px;
    height: 200px;
}

.logisticsQuestion{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.questionItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.btnCircle.selected{
    background-color: var(--highlight);
}