@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.landing-page {
    margin: 0 auto;
    background: linear-gradient(
      135deg,
      #4792a5 0%,
      #63a5d8 25%,
      var(--accent) 50%,
      var(--secondary) 75%,
      var(--highlight) 100%
    );
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
  }

.landing-page-professional {
  margin: 0 auto;
  background: linear-gradient(
    135deg,
    #d7c569c9 10%,
    #585ad8 25%,
    #4f9cb4 50%,
    #d7c569c9 70%,
    #5b5dc7 75%,
    #5775f0 100%
  );
  background-size: 400% 400%;
  animation: gradientAnimation 20s ease infinite;
}

.landing-page-alumni {
  margin: 0 auto;
  background: linear-gradient(
    135deg,
    #d36cffc9 24%,
    #7858d8 25%,
    #4f9cb4 50%,
    #a769d7c9 60%,
    #5759f0 75%,
    #5775f0 100%
  );
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}
  
  .landing-header {
    text-align: center;
    color: white;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;
    box-shadow:1px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .nav-links {
    display: flex;
    gap: 10px;
    list-style-type: none;
  }
  
  .nav-links li {
    padding: 10px 10px;
    align-items: center;
  }

  .nav-links li:hover{
    background-color: rgba(124, 134, 137, 0.1);
    border-radius: 10px;
  }
  
  .authButtons{
    border-radius: 20px;
    width: 100px;
    font-size: 18px;
    padding: 10px 15px;
    text-shadow: 1px 1px .2px rgba(0, 0, 0, 0.5);
    font-weight: bolder;
    opacity: .7;
  }

  .nav-links a {
    padding: 30px;
    z-index: 2;
    color: white;
    font-size: large;
    text-decoration: none;
  }

  .nav-links a:hover{
    color: white;
  }

  .pillarText{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: larger;
    line-height: 1.6;
    color: #333;
    text-align: center;
  }

  .pillarTitle{
    margin-top: 12px;
    letter-spacing: 0.02em;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--secondary);
  }
  
  .landing-title {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

    font-size: 3em;
    margin-bottom: 15px;
    overflow: hidden;
    border-right: 0.1em solid var(--secondary);
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.1em;
    animation: 
      typing 3.5s steps(40, end),
      blink-caret 0.75s step-end infinite;
    display: inline-block;
    max-width: fit-content;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--secondary-color); }
  }
  
  
  .subheader {
    font-size: 1.4em;
    margin-bottom: 30px;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
    animation-delay: 3s;
  }
  
  @keyframes fadeIn {
    to { opacity: 1; }
  }
  
  
  .cta-button {
    margin: 0 auto;
    padding: 15px;
    color: var(--secondary);
    font-size: 30px;
    font-weight: 350;
    width: 20%;
    border-radius: 20px;
    box-shadow: var(--shadowColor);
  }

  
  .feature-section {
    display: flex;
    justify-content: space-around;
    padding: 0 20px;
    margin: 80px 0;
    gap: 10px;
    max-width: 1500px;
  }
  
  .feature-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* justify-content: space-between; */
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    top: 0;
    width: 500px;
    position: relative;
    transition: top 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    opacity: 0;
    transform: translateY(50px);
    animation: slideUp 0.5s ease-out forwards;
    animation-delay: 3s;
    padding: 10px 20px;
    height: 260px;
  }

  .txtEmphasis{
    color: var(--secondary);
    font-weight: bolder;
    text-decoration: underline;
  }
  
  .feature-card:nth-child(1) { animation-delay: 0.2s; }
  .feature-card:nth-child(2) { animation-delay: 0.4s; }
  .feature-card:nth-child(3) { animation-delay: 0.6s; }
  
  @keyframes slideUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .feature-card:hover {
    background-color: var(--neutral);
    top: -10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.199);
  }


  .who-are-we {
    padding: 10px 0;
    margin-bottom: 50px;
    background-color: rgba(69, 128, 162, 0.05);
  }
  
  .container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .section-title {
    font-size: 2.9rem;
    font-weight: 700;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  
  .content-wrapper {
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
  }
  
  .description {
    font-size: 1.5rem;
    line-height: 1.8;
    color: #333;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .highlight {
    font-weight: 700;
    color: var(--highlight);
    position: relative;
    display: inline-block;
  }
  
  .highlight::after {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--highlight);
    opacity: 0.5;
  }
  
  .network-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 20px 0;
  }
  
  .network-item {
    background-color: var(--neutral);
    opacity: .7;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.199);
    border-radius: 50px;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.48rem;
    color: #415ca2;
  }

  .network-item:hover{
    box-shadow: 0 6px 12px rgba(1, 0, 0, 0.3);
  }
  
  .network-item i {
    font-size: 2.5rem;
    /* color: var(--secondary); */
  }
  
  .goal {
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 30px;
    padding: 20px;
    background-color: rgba(69, 128, 162, 0.1);
    border-radius: 10px;
  }
  
  @media (max-width: 768px) {
    .network-grid {
      grid-template-columns: 1fr;
    }
    
    .content-wrapper {
      padding: 30px;
    }
  }

  .mission-statement{
    padding-bottom: 20px;
  }

  .mission-statement,
  .cta-section {
    display: flex;
    color: white;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    margin: 30px 0;
  }
  
  .mission-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 0 300px;
    padding: 5px 20px;
    border-radius: 15px;
    font-size: larger;
    color: var(--secondary);
    line-height: 1.7;
    box-shadow: var(--shadowColor);
  }

  .mission-statement {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding-bottom: 55px;
  }
  
  .mission-title {
    font-size: 2.9rem;
    font-weight: 700;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 3px;  
  }
  .next-steps-title{
    font-size: 2.9rem;
    font-weight: 700;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 3px;
  }
  
  .mission-text {
    font-size: 1.2rem;
    line-height: 1.8;
    color: var(--secondary);
    position: relative;
    z-index: 1;
  }
  
  .mission-highlight {
    font-weight: 700;
    color: var(--highlight);
  }

  .landing-footer {
    background-color: #333;
    color: white;
    padding: 40px 30px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-column h3 {
    margin-bottom: 20px;
  }
  
  .footer-column ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-column ul li {
    margin-bottom: 10px;
  }
  
  .footer-column a {
    color: #ccc;
    text-decoration: none;
  }
  
  .copyright {
    text-align: center;
    margin-top: 40px;
  }