

.background {
    width: 100vw;
    height: 100vh;
    background: var(--secondary);
    background: linear-gradient(140deg, var(--secondary) 0%, rgba(52,197,227,0) 100%);
    justify-content: center;
    align-items: center;
}

.landingPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    margin-top: 40px;
    font-weight: 100;
    font-size: 100px;
    text-shadow: 1px 1px 2px black,
    0 0 1em rgb(214, 214, 249),
    0 0 0.2em rgb(240, 240, 255);

}

.landingCard{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    gap: 50px;
    width: 50vw;
    height: 50vh;
    background: rgb(63,94,251);
    background: radial-gradient(circle, var(--neutral) 0%, var(--secondary) 100%);
    border-radius: 15px;
    box-shadow: 0 4px 100px 0 rgba(0, 0, 0, 0.3), 0 6px 100px 0 rgba(0, 0, 0, 0.19);
    padding: 40px;
}

.landingText {
    font-weight: 550;
    font-size: 25px;
    color: rgb(207, 207, 210);
    text-shadow: 1px 1px 2px black,
    0 0 1em rgba(38, 38, 38, 0.546),
    0 0 0.2em rgb(29, 29, 30);

    border-right: .4rem solid #ffffff;
}

.ppl{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.ppl1, .ppl2, .ppl3 {
    font-weight: 550;
    font-size: 40px;
    color: var(--primary);
    text-shadow: 1px 1px 2px black,
    0 0 1em rgba(38, 38, 38, 0.546),
    0 0 0.2em rgb(29, 29, 30);
    transition: transform 0.3s ease-out;
}

.ppl1:hover{
    color: var(--highlight);
    transform: translateY(-5px);
    cursor: pointer;
}

.ppl2:hover{
    color: rgb(120, 131, 255);
    transform: translateY(-5px);
    cursor: pointer;
}

.ppl3:hover{
    color: rgb(120, 131, 255);
    transform: translateY(-5px);
    cursor: pointer;
}

.btnJoin{
    background: var(--secondary);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 100px 0 rgba(0, 0, 0, 0.3), 0 6px 100px 0 rgba(0, 0, 0, .6);
    border-color: black;
    border-width: 2.5px;
    font-weight: 600;
    font-size: 20px;
}

