.mainBody{
    background: var(--accent);
    background: linear-gradient(360deg, var(--neutral) 0%, rgba(52,197,227,0) 100%);
}

body.modal-open {
    overflow: hidden;
  }

/* .user-wheel-view {
  }

  .slick-next {
    right: 0 !important; /* Use !important to override Slick's styles */
    /* Add other styles as needed (e.g., top, transform) */